body {
    margin: 0;
    background: lightyellow;
    font: 18px Arial, sans-serif;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

canvas {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow);
    position: relative;
    /*top: 60%;
    left: 63%;*/
    width: 60%;
    height: 90%;
    /*display: inline;*/
    box-shadow: 10px 10px;

    border: 10px solid black;
    margin: 1px;   
    transform: translate(35%, +30%);
}

#score, #scores {
    color: blue;
    font: Georgia, serif;
    position: relative;
    /*position: absolute;*/
    text-align: center;
}

#distance {
    font: italic Basekerville, serif;
	  text-align: center;
    position: relative;
    /*position: absolute;*/
       
}

#gameover {
    /*background-color: #f1f1f1;*/
    /*display: inline-block;*/
    width: auto;
    border: 2px solid ;
    text-align: center;
    position: relative;
}